<section class="sign-up-background">
	<section class="span8 offset2 text-center main-message-box">
		<h2 class="main-message">An Easy to Follow Course for Entrepreneurs in the Startup World</h2>
	</section>
	<section class="span6 offset3 text-center signup sign-up-well">
		<%= simple_form_for :subscriber, :url => {:action => 'create'}, class: "form_field", :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>
		<%= f.error_notification %>
		<div class="email_button_pair">
		<%= f.input :email, label: false, placeholder: 'We never share.', :html => { :class=>'input-xlarge'}, wrapper_html: { class: 'input-append' }%>

		<%= f.button :submit, class: "btn btn-primary btn-large custom-button", value: "Sign up"  %>
		<% end %>
		</div>
	</section>
	<section class="span6 offset3 text-center">
		<h2 class="secondary-message">The path from idea to success is paved with the work of people who have done it before. Learn from the best minds in the startup world today through weekly curated lessons.</h2>
	</section>
	</div>
	</div>
</section>
<!-- What you get Section -->
<section class="marketing-background">
	<div class="container">
		<div class="row">
			<h1 class="marketing-message text-center">FEATURES</h1>
			<div class="text-center">
				<div class="span4">
					<%= image_tag('book.png', :class => 'index-icon') %>
					<h2 class="secondary-marketing-message"><strong>A concrete plan </strong>to bring you from nothing to a solid and executable plan building and scalling your startup</h2>
				</div>
				<div class="span4">
					<%= image_tag('check.png', :class => 'index-icon') %>
					<h2 class="secondary-marketing-message"><strong>The best content on the web</strong>, curated for you by experts in their field. Stop reading the wrong stuff!</h2>
				</div>
				<div class="span4">
					<%= image_tag('pencil.png', :class => 'index-icon') %>
					<h2 class="secondary-marketing-message"><strong>An inside scoop</strong> into how successful founders built their company, stories on what worked and what to avoid</h2>
				</div>				
			</div>
		</div>
	</div>
</section>
<!-- END // What you get Section -->

<!-- Founding Team Section -->
<section class="team-background">
	<hr class="hr_main_team">
</br>
	<hr class="hr_shadow_team">
	</br>
	<hr class="hr_shadow_team2">
</br>
		<hr class="hr_shadow">



	<div class="container">
		<div class="row">
			<h1 class="team-header text-center">TEAM</h1>
			<div class="text-center">
				<div class="span3">
					<%= image_tag('marco_bw_s.png', :class => 'team-shots') %>
					<h1 class="team-name">Marco Morawec</h1>
					<hr class="hr_shadow_founders">
					<h2 class="team-job">Web Developer</h2>
					<%= link_to image_tag('twi_s_b.png', :class => 'social_img'), "http://www.twitter.com/marcomorawec", target: "_blank" %>
					<%= link_to image_tag('li_s_b.png', :class => 'social_img'), "http://www.linkedin.com/in/marcomorawec", target: "_blank" %>
					<%= link_to image_tag('git_s_b.png', :class => 'social_img'), "https://github.com/MarcoMorawec", target: "_blank" %>
				</div>
				<div class="span3">
					<%= image_tag('sara_bw_s.png', :class => 'team-shots') %>
					<h1 class="team-name">Sara Garver</h1>
					<hr class="hr_shadow_founders">
					<h2 class="team-job">Business Evangelist</h2>
					<%= link_to image_tag('twi_s_b.png', :class => 'social_img'), "https://twitter.com/skg8d", target: "_blank" %>
					<%= link_to image_tag('li_s_b.png', :class => 'social_img'), "http://www.linkedin.com/in/saragarver", target: "_blank" %>
				</div>		
				<div class="span3">
					<%= image_tag('emily_bw_s.png', :class => 'team-shots') %>
					<h1 class="team-name">Emily Mills</h1>
					<hr class="hr_shadow_founders">
					<h2 class="team-job">UX Designer</h2>
					<%= link_to image_tag('twi_s_b.png', :class => 'social_img'), "http://www.twitter.com/emily_mills", target: "_blank" %>
					<%= link_to image_tag('li_s_b.png', :class => 'social_img'), "http://www.linkedin.com/in/emilymills2", target: "_blank" %>
				</div>
				<div class="span3">
					<%= image_tag('Isaac_bw_s.png', :class => 'team-shots') %>
					<h1 class="team-name">Isaac Girard</h1>
					<hr class="hr_shadow_founders">
					<h2 class="team-job">Front-end Developer</h2>
					<%= link_to image_tag('twi_s_b.png', :class => 'social_img'), "https://twitter.com/igirard", target: "_blank" %>
					<%= link_to image_tag('li_s_b.png', :class => 'social_img'), "http://www.linkedin.com/in/igirard", target: "_blank" %>
				</div>
			</div>
		</div>
	</div>
</section>
