<header>
	<h1>startup hack</h1>
</header>
<nav class="menu">
	<ul>
		<li><a href="#">Lessons</a></li>
		<li>/</li>
		<li><a href="#">Sign in</a></li>
	</ul>
</nav>
<section class="span9 message">
<h2>Receive top curated information from founders straight to your inbox.</h2>
</section>
<%= bootstrap_flash %>
<section class="span3 signup">

	<%= simple_form_for :subscriber, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>

	<%= f.error_notification %>
	<%= f.input :email, label: 'Your email' %>

	<%= f.button :submit, class: "btn btn-primary", value: "Get my Lesson" %>
	<% end %>	
</section>
<section class="span10 organizers">

	<h1>organizers

	<p>Marco, Sara, Emily, Isaac</p>

</section>