<header>
	<h1>startup hack</h1>
</header>
<nav class="menu">
	<ul>
		<li><a href="#">Lessons</a></li>
		<li>/</li>
		<li><a href="#">Sign in</a></li>
	</ul>
</nav>
<%= bootstrap_flash %>
<section class="span3">

	<%= simple_form_for :subscriber, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>

	<%= f.error_notification %>
  	<%= f.input :email, label: 'Your email' %>

  	<%= f.button :submit, class: "btn btn-primary", value: "Get my Lesson" %>
  	<% end %>	


 


</div>

<div class="span10">

<h5>Meet your instructors</h5>

<p>Marco, Sara, Emily, Isaac</p>

</div>