
<section class="offset3 span7 text-center main-message-box">
	<h2 class="main-message">Receive top curated information from founders straight to your inbox.</h2>
</section>


<section class="offset3 span6 text-center">
	<%= simple_form_for :subscriber, :url => {:action => 'create'}, class: "form_field", :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<%= f.input :email, label: false, placeholder: 'We never share your email', wrapper_html: { class: 'input-append' }, :input_html => { :class => 'input-large signup'} %>

	<%= f.button :submit, class: "btn btn-large signup btn-success", value: "Sign up"  %>
	<% end %>	
</section>


<div class="span12 box-top">
	<hr>
	<hr class="hr_shadow">
</div>

<div class="offset3 span6 text-center box-bottom">
	<h1 class="team-header">Founding Team</h1>
</div>
<section class="span12 organizers box-bottom">
	<div class="row">
		<div class="span3 text-center">
			<%= image_tag('marco_bw.png', :class => 'team-shots'	)	 %>
			<h1 class="team-name">Marco Morawec</h1>
				<hr>
				<hr class="hr_shadow">
				<h2 class="team-job">Web Developer</h2>
				<%= link_to image_tag('twi_s.png'), "http://www.twitter.com", target: "_blank" %>
				<%= link_to image_tag('li_s.png'), "http://www.linkedin.com", target: "_blank" %>
				<%= link_to image_tag('git_s.png'), "http://www.github.com", target: "_blank" %>
		</div>
		<div class="span3 text-center">
				<%= image_tag('sara_bw.png', :class => 'team-shots') %>
				<h1 class="team-name">Sara Garver</h1>
					<hr>
					<hr class="hr_shadow">
					<h2 class="team-job">Business Evangelist</h2>
					<%= link_to image_tag('twi_s.png'), "http://www.twitter.com", target: "_blank" %>
					<%= link_to image_tag('li_s.png'), "http://www.linkedin.com", target: "_blank" %>
					<%= link_to image_tag('git_s.png'), "http://www.github.com", target: "_blank" %>
		</div>		
		<div class="span3 text-center">
					<%= image_tag('emily_bw.png', :class => 'team-shots') %>
					<h1 class="team-name">Emily Mills</h1>
					<hr>
					<hr class="hr_shadow">
					<h2 class="team-job">UX Designer</h2>
					<%= link_to image_tag('twi_s.png'), "http://www.twitter.com", target: "_blank" %>
					<%= link_to image_tag('li_s.png'), "http://www.linkedin.com", target: "_blank" %>
					<%= link_to image_tag('git_s.png'), "http://www.github.com", target: "_blank" %>
		</div>
		<div class="span3 text-center">
				<%= image_tag('isaac.jpg', :class => 'team-shots') %>
				<h1 class="team-name">Isaac Girard</h1>
					<hr>
					<hr class="hr_shadow">
					<h2 class="team-job">Front-end Developer</h2>
					<%= link_to image_tag('twi_s.png'), "http://www.twitter.com", target: "_blank" %>
					<%= link_to image_tag('li_s.png'), "http://www.linkedin.com", target: "_blank" %>
					<%= link_to image_tag('git_s.png'), "http://www.github.com", target: "_blank" %>
		</div>
</div>

