<script type="text/javascript">
    $(window).load(function(){
        $('#lesson-social').modal('show');
    });
</script>

     
	<!-- Modal -->
	<% if user_signed_in? && (current_user.created_at + 5.seconds) > Time.now %>
		<div id="lesson-social" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Share the Love</h3>
		    </div>
		    <div class="modal-body">
			    <p>Know other awesome people who want to be part of a startup</p>
				</br>
				</br>
				<div class="">
			    	<%= twitter_button :title => 'StartUp Hack', :url=> 'http://startuphack.me' %>
			    </div>
		    </div>
		</div>
	<% end %>


	<% if @admin %>
		<%= link_to('Create New Lesson', {:action => 'new' }, :class => 'btn btn-success') %>
	<% end %>

<div class="offset3 span6 text-center box-top">
	<h2 class="lesson-headline">Month</h2>

<div class="lesson-box">
	<% @lesson.each do |lesson| %>
		
		<div class="row">
			<div class="span1">
				<h2 class="week-number">
					<%= lesson.week %>
				</h2>
			</div>
			<div class="span4">
				<h2 class="lesson-headline">
					<%= link_to(lesson.weekly_tagline, {:action => 'show', :id => lesson.id}) %>
				</h2>
			</div>
		</div>
			

			<% if @admin %>
					<%= link_to('Edit Lesson', {:action => 'edit', :id => lesson.id }, :class => 'btn btn-mini') %>
					<%= link_to('Delete Lesson', {:action => 'destroy', :id => lesson.id }, :method => 'delete', :confirm => 'Are you sure you want to delete this lesson?', :class => 'btn btn-mini btn-danger') %>
			<% end %>
	<% end %>
</div>
</div>




 