<h2>Each weekly lesson will be here</h2>


	<p>
		Week: <%= @lesson.week %>
	</p>
	
	<h2><%= @lesson.main_headline %></h2>
	<%= @lesson.weekly_tagline %>

	<h2><%= link_to(@lesson.first_ressource_headline, @lesson.first_ressource_headline_link) %></h2>
	<h4><%= @lesson.first_ressource_text%></h4>
	</p>

	<h2><%= link_to(@lesson.second_ressource_headline, @lesson.second_ressource_headline_link) %></h2>
	<h4><%= @lesson.second_ressource_text%></h4>
	</p>

	<%= link_to('Edit Lesson', {:action => 'edit', :id => @lesson.id }, :class => 'btn btn-mini') %>
	<%= link_to('Delete Lesson', {:action => 'destroy', :id => @lesson.id }, :method => 'delete', :confirm => 'Are you sure you want to delete this lesson?', :class => 'btn btn-mini btn-danger') %>

